<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this enquiry from being submitted:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :organisation %><br />
    <%= f.text_field :organisation %>
  </div>
  <div class="field">
    <%= f.label :enquiry %><br />
    <%= f.text_area :enquiry %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
